section.new-tweet {
  width:  auto;
  height: 200px;
  margin: 0 auto;
  margin-left: 2em;
  margin-right:2em;
  margin-top: 2em;
  border: 1px solid #ffcccc;
  border-radius: 12px;
  background-color: rgba(219,217,217,0.6);
  padding: 4px;
  overflow-wrap: break-word;
}

section.onToggle {
  margin-top: 7em;
}


textarea {
  font-size: 20px;
}

span.counter {
  float: right;
}

